<a href="https://colab.research.google.com/github/valdirdpg/curso-dnc/blob/master/ValdirAtividadeDiaD3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Um gestor da área de dados da rede Walmart está em busca de uma consultoria  de dados para que possam trazer até ele um maior entendimento da ***relação  existente entre as vendas em dias de feriado e dias normais***, além de ***uma  visualização sobre a taxa de desemprego em comparação com as vendas***

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
vendas = pd.read_csv('/content/sample_data/Walmart.csv')
vendas

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

In [23]:
# Você deverá realizar a contagem de feriados e quantidade de dias normais;
filtrar_vendas = vendas.filter(items=('Holiday_Flag','Weekly_Sales'))
vendas_feriado = filtrar_vendas.groupby(['Holiday_Flag']).size().reset_index(name="Feriado/Normal")
vendas_feriado

   Holiday_Flag  Feriado/Normal
0             0            5985
1             1             450

In [20]:
# Você deverá calcular as vendas durante os feriados e dias normais

      Holiday_Flag  Weekly_Sales       Totla
0                0    1643690.90   209986.25
1                1    1641957.44   213538.32
2                0    1611968.17   220060.35
3                0    1409727.59   224031.19
4                0    1554806.68   224294.39
...            ...           ...         ...
6430             0     713173.95  2906233.25
6431             0     733455.07  2921709.71
6432             0     734464.36  2939946.38
6433             0     718125.53  2950198.64
6434             0     760281.43  3004702.33

[6435 rows x 3 columns]